#body {
    background-color: white;
    font-family: 'Times New Roman';
    font-size: 15px;
    text-align: left;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}



.idezet {
    font-style: italic;
    text-align: right;
}

.fej {
    background-color: gray;
    text-align: center;
    font-weight: bold;
    width: 100%;
    max-width: 300px;
    padding: 6px;
    align-items: center;
    margin: 10px auto;
}

.tablazat {
    background-color: lightgray;
    width: 100%;
    max-width: 350px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
}

.tablazat img {
    display: block;
    margin: 10px auto;
    width: 250px;  
}
#title {
    background-color: whitesmoke;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    max-width: 600px;
}
